
/*unneccesary comment to test my change skills*/
/*Set default for the whole page*/
* {
	font-family: Arial, Verdana, sans-serif;
	color: dimgray;
	background-color: oldlace;
}

/*Adapted From: HTML and CSS design and build websites.pdf pg.452*/
/*To style the header section of my layout*/
header {
	color: grey;
	background-color: palegoldenrod;
	border-radius: 25px; /* curves the border*/
	text-align: center;
	padding-top: 10px;
}

/* Adapted From: https://stackoverflow.com/questions/16946284/how-to-horizontally-align-ul-to-center-of-div, https://www.w3schools.com/css/css_list.asp */
/* To style navigation bar*/
ul.navbar {
	list-style-type: none; /*takes away the bullet points or any list style for the links*/
	/* margin: 10px; */
    padding: 10px;
	overflow: hidden;
	background-color: darkgray;
}

/*Adapted From: https://www.fuseneon.com*/
/*Space out the links*/
.Header-nav-item {
    margin: 15px;
}

/*Adapted From: https://www.w3schools.com/css/tryit.asp?filename=trycss_text-decoration_link*/
a {
	color: lightyellow;
	text-decoration: none; /*a link without underline*/
    font-size: 12px;
    display: block;
    background-color: darkgrey;
}

/* Adapted From: https://www.w3schools.com/css/css_list.asp*/
/* Styling the list */

li a {
	color: darkslategray;
	font-weight: bold;
    text-align: left;
    display: block;
    float: left;
    background-color: darkgray;
}

/*Adapted From: https://www.fuseneon.com*/
li a:hover {
	cursor: pointer;
	color: darkslateblue;
}


/*Styling h1*/
h1 {
	color: darkslategray;
	text-align: center;
    background-color: aliceblue;
    border-radius: 25px;
}

/* H3 heading for Images on index page */

.main {
	float: left;

}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center-left;
	align-items: center;
	flex-flow: row wrap;
	background-color: #1a1a1a;
   }
  
  
  .images {
	overflow: hidden;
	position: relative;
	justify-content: center;
	align-items: center;
	display: flex;
  }
  
  
  /* this is for the text layer that is presnt when hovering over image */
  /*
  .layer {
	opacity: 0;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 90%;
	text-align: center;
	padding: 5px;
	background: #FFF;
	color: #151E3F;
	transition: all 1s ease;

	p {
	  transition: ease-out;
	}
  }
  
  .images:hover .layer {
	opacity: 0.7;
	width: 80%;
	transition-timing-function: ease-in-out;
  }
  */
  



aside {
	float: right;
	border-radius: 25px;
	margin: 20px;
}

.main:after {
	content: "";
	display: table;
	clear: both;
  }

.info {
	display: block;
	padding: 10px;
	background-color: ghostwhite;
}

.footer {
	background-color: aliceblue;
	text-align: center;
	padding: 10px;
	border-radius: 25px;
	margin: 10px;
  }

  h5 {
	  background-color: aliceblue;
  }