* {
	box-sizing: border-box;
	padding: 0;
	margin-top: 0px;
}
body {
	font-family: 'Josefin Sans', sans-serif;
}

.navbar {
	font-size: 16px;
	background-image: linear-gradient(260deg, #333333 0%, #1f1f1f 100%);
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding-bottom: 10px;
}

.main-nav {
	list-style-type: none;
	display: none;
}

.nav-links,
.guide {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.main-nav li {
	text-align: center;
	margin: 15px auto;
}

.guide {
	display: inline-block;
	font-size: 22px;
	margin-top: 10px;
	margin-left: 20px;
  }

/********************** Not Working***********************************/

.navbar-toggle {
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
	color: rgba(233, 0, 0, 0.8);
	font-size: 24px;
}

@media screen and (min-width: 768px) {
	.navbar {
		display: flex;
		justify-content: space-between;
		padding-bottom: 0;
		height: 70px;
		align-items: center;
	}

	.main-nav {
		display: flex;
		margin-right: 30px;
		flex-direction: row;
		justify-content: flex-end;
	}

	.main-nav li {
		margin: 0 auto;
	}

	.nav-links {
		margin-left: 17px;
	}
	.guide {
		margin-top: 0;
	}
	.navbar-toggle {
		display: none;
	}

	.guide:hover,
  	.nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }
}

/********************************************************************************************/
/* Michelle About page */

.background-about{
	background-color: #ffffff;
}
.about-section h1 {
	color: rgb(0, 191, 216);
}
.footer-about h5 {
	text-align: center;
	padding: 10px;
	margin: 10px;
}
/*Adapted From: HTML and CSS design and build websites.pdf pg.452*/
/*To style the header section of my layout*/
html {
	box-sizing: border-box;
  }
  
  *, *:before, *:after {
	box-sizing: inherit;
  }
  
  .column {
	float: left;
	width: 33.3%;
	margin-bottom: 16px;
	padding: 0 8px;
  }
  .column2 {
	float: left;
	width: 33.3%;
	margin-bottom: 16px;
	padding: 0 8px;
  }
  
  .about-section {
	padding: 50px;
	text-align: center;
	background-color: #444444;
	color: white;
  }
  
  .container {
	
	background-color: #e6e6e6;
	padding: 0 16px;
	-webkit-flex: 2;
	-ms-flex: 2;
	flex: 2;
  }

  .container2 {
	background-color:rgb(0, 182, 214);
	padding: 0 16px;
	-webkit-flex: 2;
	-ms-flex: 2;
	flex: 2;
  }
  
  .title {
	color: rgb(0, 191, 216);
  }

  .title2 {
	color: rgb(255, 255, 255);
  }
  
  .button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 194, 228);
	text-align: center;
	cursor: pointer;
	width: 100%;
  }
  
  .button:hover {
	background-color: rgb(0, 182, 214);
  }
  
  .button2 {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: rgb(0, 194, 228);
	background-color: rgb(255, 255, 255);
	text-align: center;
	cursor: pointer;
	width: 100%;
  }
  
  .button2:hover {
	background-color: rgb(255, 141, 35);
  }
  @media screen and (max-width: 650px) {
	.column {
	  width: 100%;
	  display: block;
	}
  }
/*****************************************************************************/
/*Styling h1*/
h1 {
	color: rgb(19, 19, 19);
	text-align: center;
}

h2 {color: darkslategray;
text-align: center;
}


h5 {
	color: rgb(36, 36, 36);
}


/*************************************************************************/
/* HOLLIE - HOME PAGE*/
/* main wrapper for images on index page */
.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
   }
  
/* Images within the wrapper for the index page */
.images {
padding: 80px;
overflow: hidden;
position: relative;
justify-content: center;
align-items: center;
display: flex;
	}

/* this is for the text layer that is presnt when hovering over image */
.layer {
	opacity: 0;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 90%;
	text-align: center;
	padding: 5px;
	background: #FFF;
	color: #be0085;
	transition: all 1s ease;
	/* text transitions for the text appearing refernce https://www.w3schools.com/cssref/css3_pr_transition-timing-function.asp */
	p {
	  transition: ease-out;
	}
  }
  
  /* hover options. For experimenting and learning about transition options e.g speed and easing
   i referenced https://www.w3schools.com/css/css3_transitions.asp */
  .images:hover .layer {
	opacity: 0.7;
	width: 80%;
	transition-timing-function: ease-in-out;
  }

.imageLinks {
	background: none;
	font-size: larger;

}

.bghome {
background:rgb(243, 243, 243);
}

/*************************************************************************/
/*************************************************************************/
/*   HOLLIE- SET UP PAGE */

.columnwifi {
	float: left;
	padding: 0 16px;
	width: 33%;
	padding: 10px;
	background-color:lightgray;
	text-align: center;
	Height: 400px;
}

.columnspecs {
	background-color:white;
	float:left;
	padding: 10px;
	width: 33%;
	text-align: center;
	height: 400px;
}

.columnSetup {

	width: 33%;
	float: left;
	padding: 10px;
	background-color: lightgray;
	text-align: center;
	Height: 400px;
}



.wifihead {background-color: gray;
	width: 33%;
	padding: 10px;
	text-align: center;
	float: left;
	height: 50px;

}

/**************************************************************************/
/**************************************************************************/
/* HOllie- Forum/Questions Page*/

.questions {
	background-color: none;
}

/* Buttons to open and close the accordion box for catagories*/
.accordion {
	background-color:none;
	color: #444;
	cursor: help;
	padding: 25px;
	width: 100%;
	text-align: center;
	border: none;
  }
  
  /* background color for button when it is hovered/clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
	background-color: #e7f1ff;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
	padding: 0 10px;
	background-color: white;
	display: none;
	overflow: hidden;
	padding: 20px;
	font-size: 16px;
	font-family: 'Josefin Sans', sans-serif;
  }


.accordion:after {
	content: '\2295'; /* Used this table for unicodes refernce for icons https://www.rapidtables.com/code/text/unicode-characters.html */
	font-size: 18px;
	color: rgb(148, 147, 147);
	float: right;
	margin-left: 5px;
	margin-right: 40px;
  }
  .active:after {
	content: "\229D"; /* Unicode character for "minus" sign (-) */
  }
/**************************************************************************/

.main:after {
	content: "";
	display: table;
	clear: both;
  }

.info {
	display: block;
	padding: 10px;
	background-color: ghostwhite;
}

.footer {
	background-color: lightslategray;
	text-align: center;
	padding: 10px;
	margin: 10px;
}

  
.footer2 {
	color: blue;
	text-align: center;
	padding: 10px;
	margin: 10px;
}


/***************************************************************************/
/*KEZIA HEALTH PAGE*/
/*styling for Ordered List on Health Tips Page */
/* h1.info-health  {
	color: #004e37;
} */

/* .TI  {
	color: #62ca00;
} */

/* .info-health.h1 {
	color: #62ca00;
} */

.health-section {
	padding: 50px;
	text-align: center;
	background-color: darkseagreen;
	color: white;
}

.health-section h1 {
	color: midnightblue;
}

.health-section p {
	color: midnightblue;
}

.info-health {
	background-color: lightgray;
	padding: 15px;
}

.healthy {
	background-color: lightskyblue;
}
.health-gallery {
	background-color: lightgrey;
}

.health-gallery img {
	padding: 20px;
	text-align: center;
}


ol.healthy {
	background-color:lightgray;
	-webkit-flex: 2;
	-ms-flex: 2;
	flex: 2;
}

dt {
	padding: 20px;
	font-size: large;
	text-transform: uppercase;
	color: #009e06;
}


dd { 
	padding: 12px;
	
}



/*KEZIA STUDY PAGE*/
/*styling for Ordered List on Study Tips Page*/
ol.study {
	padding: 15px;
}



/***********************************************************************/


/* Matt Pages
Software and applications of software and programming headers*/

.software-section {
	padding: 50px;
	text-align: center;
	background-color: #FEEB44;
	color: black;
  }

.program-section {
	padding: 50px;
	text-align: center;
	background-color: #a444fe;
	color: black;
  }

div.mattsection {
	margin: 80px;
	text-align: left;
}

ul.mattsection {
	margin: 20px;
}
/* modified from Michelle's about-section*/